body {
    margin: 0;
    min-width: 1200px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #303030;
  }

  .visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

  .container {
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-header {
    display: flex;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .main-header-logo {
    margin-right: 30px;
  }

  .main-header-delivery {
    width: 400px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #9a9a9a;
  }

  .main-header-phone-column {
    margin-left: auto;
    text-align: right;
  }

  .phone {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #303030;
    text-decoration: none;
  }

  .phone::before {
    content: '';
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .phone-text {
    margin: 0;
    font-size: 12px;
    line-height: 28px;
    color: #9a9a9a;
  }